@import "globals";

html, body, div#react-container {
  height: 100%;
}

h1 {
  @include clear;
}

body {

  @include clear;

  background-color: black;
  color: green;

  div#react-container {

    pre {
      margin: 2em;
      font-size: 1.2em;
    }

  }

}

input {
  outline: none;
}