@import "globals";

html, body, div#react-container {
  height: 100%;
}

body {
  @include clear;
  display: flex;
  background-color: $grey;
  color: green;
}

div#react-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  >div {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

h1 {
  @include clear;
}

pre {
  color: $purps;
  font-weight: bold;
  font-size: 1.3em;
  margin: 2em auto;
}

input {
  outline: none;
}